{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "AZURE_CLIENT_ID": "<AZURE_FUNCTION_IDENTITY_CLIENT_ID> ignore it locally",
    "TASKHUB_NAME": "WorkflowHitlHub",
    "FOUNDRY_PROJECT_ENDPOINT": "<FOUNDRY_PROJECT_ENDPOINT>",
    "FOUNDRY_DEFAULT_MODEL": "gpt-4.1-mini",
    "FOUNDRY_ORCHESTRATOR_MODEL": "gpt-5.1",
    "ADO_ORG": "https://dev.azure.com/<ADO_ORG>",
    "ADO_PAT": "<ADO_PAT>",
    "ADO_DEFAULT_PROJECT": "<ADO_DEFAULT_PROJECT>",
    "ADO_REPO": "<ADO_REPO>",
    "ACS_EMAIL_CONNECTION_STRING": "<ACS_EMAIL_CONNECTION_STRING>",
    "ACS_EMAIL_SENDER": "DoNotReply@<acs-domain>.azurecomm.net",
    "ACS_RECIPIENT_EMAIL": "<ACS_RECIPIENT_EMAIL>"
  }
}